.footer{
    .container{
        @extend %container;
    }
    &__items{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    &__social-icon{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__item-5{
        grid-area: 3/1/4/3;
    }
    &__text{
        @include text(14px, 400, 17px, $textColorLight);
        text-align: center;
    }
}