.gallery{
    &__inner{
        display: flex;
        flex-direction: column;
        @include media(sm) {
            max-width: 568px;
            margin:0 auto;
        }
        @include media(md) {
            max-width: 1040px;
        }    
    }
    &__wrap-title{
        max-width: 265px;
        margin: 0 auto;
        @include media(sm) {
            margin-left: -51px;
        }
        @include media(md) {
            margin-left: 0px;
        }  
    }
    &__title{
        @include text(26px, 400, 32px, $textColor);
        text-align: center;
        margin: 46px 0 32px;
        position: relative;
        @include media(sm) {
            @include text(20px, 500, 29px, $textColor);
            &:after{
                content:":";
                position: absolute;
                right: -5;
            }
        }
        
    }
    &__cards{
        padding-left: 15px;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-bottom: 63px;
        @include media(xs) {
            padding-left: 35px;
        }
        @include media(sm) {
            overflow-x: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 576px;
            margin: 0 auto;
            padding-left:0;
        }
        @include media(md) {
            overflow:hidden;
            grid-template-columns: repeat(4, 1fr);
            max-width: 1040px;
            margin: 0 auto;
            
        }
    }
    &__card{
        margin-right: 15px;
        min-width: 273px;
        max-height: 185px;
        object-fit: cover;
        @include media(xs) {
            min-width: 275px;
        }
        @include media(sm) {
            margin:0 10px 10px 0;
            
        }
        @include media(md) {
            min-width: 248px;
        }
    }
    &__card:last-child{
        margin-right: 0;
    }
    &__img{
        width: 100%;
    }
    &__botton{
        margin: 45px auto 27px;
        display: none;
        @include media(sm) {
            display: block;
        }
    }
    &__botton-link{
        @include text(17px, 500, 25px, $linkColor);
    }
}