.ivanova{
    .container{
        @extend %container;
    }
    &__wrap-img{
        text-align: center;
        margin-bottom: 20px;
        min-width: 139px;
        position: relative;
        &::after{
            content: url(./../images/heart-orange.svg);
            position: absolute;
            top: -12px;
            right: -1px;
        }
    }

    &__img{
        max-width: 100%;
    }
    &__name-title{
        @include text(18px, 500, 22px, $textColor);
        text-align: center;
        margin-bottom: 7px;
    }
    &__profession{
        @include text(14px, 400, 21px, $textColor);
        text-align: center;
        margin-bottom: 7px;
    }
    &__name-link{
        display: block;
        @include text(14px, 500, 21px, $linkColor);
        text-align: center;
        margin: 0 auto 20px;
        max-width: 228px;
    }
    &__subtitle{
        @include text(18px, 500, 26px, $textColor);
        margin-bottom: 12px;
    }
    &__text{
        @include text(16px, 500, 24px, $textColor);
        margin-bottom: 22px;
        // max-width: 290px;
        @include media(xs) {
            // max-width: 505px;
        }
    }
    &__more-link{
        display: block;
        @include text(16px, 500, 23px, $linkColor);
        margin-bottom: 28px;
        position: relative;
        &::after{
            content:url(./../images/Arrow-down.svg);
            position: absolute;
            top: 0;
            left: 105px;
        }
    }
}

