.photosession{
    margin-top: 37px;
    @include media(sm) {
        margin-top: 50px;
    }
    .container {
        @extend %container;
        // @include media(md) {
        // padding: 0;
        // }
    }
    &__inner{
        display: grid;
        grid-template-columns: 1fr;
        @include media(md) {
            grid-template-columns: 50% 50%;
            // grid-template-rows: 89px 50%;
            // gap:37px;
        }
    }
    &__row-1{
        margin: 0 auto;
        @include media(md) {
            grid-area: 1/1/2/2;
        }
    }
    &__row-2{
        @include media(md) {
            grid-area: 1/2/3/3;
        }
    }
    &__row-3{
        @include media(md) {
            grid-area: 2/1/3/2;
        }
    }
    &__title{
        @include text(28px, 400, 34px, $textColor);
        margin-bottom: 13px;
        text-align: center;
        max-width: 197px;
        @include media(sm) {
            @include text(40px, 500, 49px, $textColor);
            margin-bottom: 40px;
            max-width: 250px;
        }
        @include media(md) {
            margin-bottom: 18px;
            max-width: 250px;
            text-align:left;
        }

    }
    &__img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        @include media(md) {
            height: 75%;
        }
    }
    &__text{
        @include text(14px, 400, 20px, $textColor);
        margin: 32px 0 35px;
        @include media(xs) {
            @include text(18px, 400, 26px, $textColor);
            margin: 30px 0 29px;
        }
        @include media(sm) {
            margin-top: 46px;
            max-width: 549px;
        }
        @include media(md) {
            margin: 0 0 29px 0;
            max-width: 549px;
            text-align:left;
        }
    }
    &__list{
        @include text(14px, 500, 20px, $textColor);
    }
    &__item{
        list-style-type: none;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        @include media(xs) {
            margin-bottom: 33px;
        }
    }
    &__item:last-child{
        @include media(xs) {
            margin-bottom: 71px;
        }
    }
    &__icon{
        margin-right: 9px;
    }
    &__form{
        // margin: 14px 0;
    }
    &__form-item{
        margin: 14px 0 14px 48px;
        position: relative;
        @include media(xs) {
            display: flex;
            margin: 32px 0 29px 48px;
        }
    }
    &__form-item::before{
        content: url("./../images/rating-cubok.svg");
        position: absolute;
        width: 37px;
        height: 41px;
        top: 0;
        left: -48px;
        @include media(xs) {
            width: 27px;
            height: 37px;
            top: -20px;
        }
    }
    
    &__form-label{
        position: relative;
        @include media(xs) {
            margin-right: 14px;
        }
    }
    &__form-label::before{
        content:"";
        width: 290px;
        height: 1px;
        background-color: #C7C7C7;
        position: absolute;
        top: -14px;
        left: -55px;
        @include media(xs) {
            width: 506px;
            top: -37px;
            left: -40px;
        }
        @include media(sm) {
            width: 666px;
        }
        @include media(md) {
            width: 560px;
        }

    }
    &__form-label::after{
        content:"";
        width: 290px;
        height: 1px;
        background-color: #C7C7C7;
        position: absolute;
        top: 54px;
        left: -55px;
        @include media(xs) {
            width: 506px;
            left: -40px;
        }
        @include media(sm) {
            width: 666px;
        }
        @include media(md) {
            width: 560px;
        }
    }
    &__link-label{
        @include text(14px, 400, 20px, $textColor);
        @include media(xs) {
            @include text(18px, 400, 26px, $textColor);
        }
    }
    &__rating-inner{
        margin-top: 52px;
    }
}