.reviews{
    .container{
        @extend %container;
    }
    &__title{
        @include text(26px, 400, 152px, $textColor);
        text-align: center;
    }
    &__grid-rows{
        display: grid;
        grid-template-columns: 35% 65%;
        // border: 1px solid;

    }
    &__row-1{
        grid-area: 1/1/4/2;
    }
    &__wrap-img{
        text-align: center;
        max-width: 84px;
    }
    &__img{
        max-width: 100%;
    }
    &__row-2{
        grid-area: 1/2/2/3;
    }
    &__name-title{
        @include text(16px, 500, 20px, $textColor);
        margin-bottom: 6px;
    }
    &__row-3{
        grid-area: 2/2/2/3;
    }
    &__profession{
        @include text(14px, 400, 21px, $textColor);
        margin-bottom: 7px;
    }
    &__row-4{
        grid-area: 3/2/4/3;
        margin-bottom: 31px;
    } 
    &__row-5{
        grid-area: 4/1/5/3;
    }
    &__evaluation{
        @include text(14px, 400, 21px, $textColorLight);
        padding-left: 16px;
        margin-bottom: 14px;
        position: relative;
        &::before{
            content:"";
            position: absolute;
            background-image: url(./../images/vector-green.png);
            background-size:cover;
            display: block;
            width: 15px;
            height: 11px;
            top: 5px;
            left: 0;
        }
    }
    &__row-6{
        grid-area: 5/1/6/3;
    }
    &__text{
        @include text(14px, 400, 21px, $textColor);
        margin-bottom: 17px;
    }
    &__row-7{
        grid-area: 6/1/7/3;
    }
    &__date{
        @include text(14px, 400, 21px, $textColorLight);
        margin-bottom: 44px;
        border-bottom: 0.5px solid $secondaryColor;
    }
    &__row-8{
        grid-area: 7/1/10/2;
        margin-top: 40px;
    }
    &__row-9{
        grid-area: 7/2/8/3;
    }
    &__row-10{
        grid-area: 8/2/9/3;
    }
    &__row-11{
        grid-area: 9/2/10/3;
    }
    &__row-12{
        grid-area: 10/1/11/3;
    }
    &__row-13{
        grid-area: 11/1/12/3;
    }
    &__row-14{
        grid-area: 12/1/13/3;
    }
    &__row-15{
        grid-area: 13/1/16/2;
    }
    &__row-16{
        grid-area: 13/2/14/3;
    }
    &__row-17{
        grid-area: 14/2/15/3;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    &__row-18{
        grid-area: 15/2/16/3;
    }
    &__row-19{
        grid-area: 17/1/18/3;
    }
    &__row-20{
        grid-area: 18/1/19/3;
    }
    &__row-21{
        grid-area: 19/1/20/3;
    }
}