.timetable{
    .container{
        @extend %container;
    }
    &__title{
        @include text(26px, 400, 32px, $textColor);
        text-align: center;
        // max-width: 278px;
        margin: 4px 0 57px;
    }
    &__wrap{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 45px;
    }
    &__row{
        border: 1px solid $secondaryColor;
        &:first-child{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } 
    }    
    &__meeting-day{
        @include text(18px, 400, 26px, $textColor);
    }    
    
    &__list{
        padding: 30px 20px 20px;
    }
    &__item{
        list-style-type: none;
        @include text(18px, 400, 26px, $textColor);
        margin-bottom: 10px;
    }
    &__btn{
        display: block;
        width: 129px;
        height: 50px;
        border: 2px solid $accentColor;
        border-radius: 3px;
        @include text(14px, 500, 17px, $accentColor);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px 20px;
    }
    &__icon{
        margin-right: 17px;
    }
    &__form{}
    &__form-item{
        margin: 14px 0 14px 48px;
        position: relative;
        @include media(xs) {
            display: flex;
            margin: 32px 0 29px 48px;
        }
    }
    &__form-item::before{
        content: url("./../images/rating-cubok.svg");
        position: absolute;
        width: 37px;
        height: 41px;
        top: -2px;
        left: -44px;
        @include media(xs) {
            width: 27px;
            height: 37px;
            top: -20px;
        }
    }
    
    &__form-label{
        position: relative;
        @include media(xs) {
            margin-right: 14px;
        }
    }
    &__link-label{
        @include text(14px, 400, 20px, $textColor);
        @include media(xs) {
            @include text(18px, 400, 26px, $textColor);
        }
    }
}